lib/*
*.backup
*.log
*.aux
*.dvi
*.gz
*.idx
*.ind
*.out
*.ilg
*.toc
*.patch
*/*.zip
.*
!/.gitignore
*.bbl
*.bcf
*.blg
*.xml
*.kilepr
*.dep
*.mps
*.mpx
*mptextmp.mp
*mpxerr.tex
*eps-converted-to.pdf
*.pdf
